.about-me {
    background-color: $white;
    padding: 30px 0 80px;

    @include respond-to(mobile) {
        padding: 30px 0;
    }

    .text {
        margin-bottom: 24px;

        @include respond-to(desktop,tablet) {

            &:first-child {
                margin-top: -10px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .about-me-img-mobile {
        margin-bottom: 20px;
        padding: 0 50px;
    }
}