.contact {
    background-color: $white;
    padding: 30px 0 80px;

    @include respond-to(mobile) {
        padding: 30px 0;
    }

    .text {
        margin-bottom: 40px;
    }

    a {
        display: block;
    }

    .email {
        margin-bottom: 10px;
    }

    .telephone {
        margin-bottom: 40px;
    }

    form {

        @include respond-to(mobile) {
            padding: 0 15px;
        }
    }
}