.privacy-container {
    background-color: $white;

    .privacy {

        h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 20px;
        }
    }
}