.top-bar {
    background-color: $white;

    .top-bar-left {

        @include respond-to(tablet, desktop) {
            width: 100%;
            text-align: center;
        }
    }

    .menu {
        background-color: $white;

        @include respond-to(tablet,desktop) {
            display: inline-block;
        }

        &.vertical > li{
            text-align: center;

            a {
                color: $black;
                text-transform: uppercase;

                @include respond-to(tablet,desktop) {
                    font-size: 18px;
                }
            }
        }
    }
}

.title-bar {
    background-color: $white;

    .menu-icon:after {
        background: $primary-color;
        box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
    }
}

.logo-row {
    background-color: $white;

    .logo-container {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;

        .logo {
            width: 200px;
        }
    }
}

.page-title {
    @include visuallyhidden();
}