// Typography-Variables

$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$default-font-size: 16px;
$default-line-height: 1.2;

$monospaced-font: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;