---
title: Impressum - Fußliebe
layout: lyt-default.hbs
---

<header>
    <div class="row column">
        <div class="row logo-row">
            <div class="medium-centered medium-4 columns logo-container">
                <h1>
                    <a href="index.html">
                        <img src="img/logo.svg" alt="Fußliebe" class="logo">
                        <span class="page-title">Fußliebe</span>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="medium-12 columns imprint-container">
        <article class="imprint">
            <h2>Impressum</h2>
            <h3>Angaben gemäß § 5 TMG:</h3>
            <p>Sadeta Kamber<br />
                Fußliebe<br />
                Contastraße 3<br />
                20253 Hamburg
            </p>
            <h2>Kontakt:</h2>
            <p>Telefon: +49 162 1900996</p>
            <p>E-Mail: info@fussliebe.com</p>
        </article>
    </div>
</div>

