---
title: Index – Project-Overview
layout: lyt-default.hbs
description: This is the startpage of your prototype. Provide an overview of all pages built in this project.
---

<header>
    <div class="row column">
        <div class="row logo-row collapse">
            <div class="medium-centered medium-4 columns logo-container">
                <h1>
                    <img src="img/logo.svg" alt="Fußliebe" class="logo">
                    <span class="page-title">Fußliebe</span>
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="row column hide-for-small-only">
    <div class="separation-line-container">
        <hr class="separation-line">
    </div>
</div>
<nav class="nav">
    <div class="row column">
        <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
        </div>

        <div class="top-bar" id="menu">
            <div class="top-bar-left">
                <ul class="menu vertical medium-horizontal">
                    <li><a href="#about-me">Über mich</a></li>
                    <li><a href="#offers-and-prices">Angebote &amp; Preise</a></li>
                    <li><a href="#appointments">Terminvereinbarung</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<main>
    <div class="row column">
        <section class="stage">
            <img src="img/bgs/stage-bg.jpg" alt="Fußliebe" class="stage-img">
            <div class="stage-title-container hide-for-small-only">
                <h2 class="stage-title"><span>Zuhause wohlfühlen</span><br><span>mit mobiler Fußpflege</span></h2>
            </div>
            <h2 class="mobile-stage-title show-for-small-only">Zuhause wohlfühlen mit mobiler Fußpflege</h2>
        </section>
    </div>
    <div class="row column">
        <section class="welcome">
            <div class="row">
                <div class="small-centered medium-10 large-8 columns">
                    <p class="text">
                        Willkommen bei Fussliebe. Ich kümmere mich um Ihre Füsse und auf Wunsch auch um Ihre Hände.
                        Es fällt Ihnen zunehmend schwerer, das Haus zu verlassen, oder Sie bevorzugen einfach den
                        Komfort, sich zuhause verwöhnen zu lassen? Dann sind Sie bei mir genau richtig, denn ich
                        komme dahin, wo auch immer Ihnen nach einem kleinen Wellness-Moment ist. Ich bin mobil
                        unterwegs – und zwar mit großer Freude und Engagement.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <div class="row column">
        <div class="separation-line-container">
            <hr class="separation-line">
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <section class="about-me" id="about-me">
                <h2 class="title">Über mich</h2>
                <div class="row">
                    <div class="medium-offset-1 large-offset-2 medium-3 large-3 columns">
                        <img src="img/sadeta_kamber.jpg" alt="Sadeta Kamber" class="about-me-img">
                    </div>
                    <div class="medium-7 large-6 columns end">
                        <p class="text">
                            Mein Name ist Sadeta Kamber und ich arbeite bereits seit vielen Jahren im Bereich der
                            Pflege. Jedoch sind die Pflege der Füsse und Hände mir ein wichtiges Anliegen.
                        </p>
                        <p class="text">
                            Ich verfüge über ein Diplom als ausgebildete medizinische und kosmetische Fußpflegerin und
                            Ausbildungszertifikate für spezielle Maniküre und Fußreflexzonen Massage. Ich freue mich
                            mein Können und Wissen für Sie einzusetzen.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row column">
        <div class="separation-line-container">
            <hr class="separation-line">
        </div>
    </div>
    <div class="row column">
        <section class="offers-and-prices" id="offers-and-prices">
            <h2 class="title">Angebote &amp; Preise</h2>
            <div class="row">
                <div class="medium-centered medium-8 large-6 columns">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="description">Medizinische Fusspflege & Massage</td>
                                <td class="value">35&euro;</td>
                            </tr>
                            <tr>
                                <td class="description">Kosmetische Fusspflege & Massage</td>
                                <td class="value">30&euro;</td>
                            </tr>
                            <tr>
                                <td class="description">Spezielle Maniküre & Massage</td>
                                <td class="value">25&euro;</td>
                            </tr>
                            <tr>
                                <td class="description">Wellness-Reflexzonen Massage Füsse & Hände</td>
                                <td class="value">20&euro;</td>
                            </tr>
                            <tr>
                                <td class="description">Wellness-Packet: Fußbad, Peeling, Behandlung, Pflegeprodukte und Fußreflexzonenmassage</td>
                                <td class="value">48&euro;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="row column">
        <div class="separation-line-container">
            <hr class="separation-line">
        </div>
    </div>
    <div class="row column">
        <section class="appointments" id="appointments">
            <h2 class="title">Terminvereinbarung</h2>
            <div class="row">
                <div class="medium-centered medium-8 large-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="description">Montag bis Freitag</td>
                                <td class="value">9:00 bis 19:00</td>
                            </tr>
                            <tr>
                                <td class="description">Samstag</td>
                                <td class="value">9:00 bis 16:00</td>
                            </tr>
                            <tr>
                                <td class="description">Sondertermine möglich</td>
                                <td class="value"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <div class="row column">
        <div class="separation-line-container">
            <hr class="separation-line">
        </div>
    </div>
    <div class="row column">
        <section class="contact">
            <div class="row">
                <div class="medium-centered medium-8 large-6 columns text-center">
                    <p class="text">
                        Kontaktieren Sie mich gerne unter der unten genannten Nummer oder benutzen Sie mein 
                        Kontaktformular.
                    </p>
                    <a href="mailto:info@fussliebe.com" class="email">info@fussliebe.com</a>
                    <a href="tel:+49 162 1900996" class="telephone">+49 162 1900996</a>

                    <form action="https://www.enformed.io/k4e2hyms">
                        <input type="text" name="Name" placeholder="Vor- und Nachname">
                        <input type="email" name="Email" placeholder="Email-Adresse">
                        <textarea name="Nachricht"id="message" cols="30" rows="10" placeholder="Nachricht"></textarea>
                        <input type="submit" class="button" value="Senden">
                    </form>
                </div>
            </div>
        </section>
    </div>
    <div class="row column">
        <div class="separation-line-container">
            <hr class="separation-line">
        </div>
    </div>
    <div class="row column">
        <footer class="footer text-center">
            <p class="copyright">2016 (C) by Sadeta Kamber</p>
            <ul class="inline-list">
                <li>
                    <a href="impressum.html" class="footer-link">Impressum</a>
                </li>
                <li>
                    <a href="datenschutz.html" class="footer-link">Datenschutz</a>
                </li>
            </ul>
        </footer>
    </div>
</main>

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/what-input.js"></script>
<script>
    $(document).foundation();
</script>
