---
title: Fußliebe
layout: lyt-default.hbs
---

<section class="success">
    <div class="row">
        <div class="small-centered medium-8 columns">
            <div class="card">
                <div class="card-section">
                    <h2 class="card-title">Vielen Dank!</h2>
                    <p class="text">Deine Nachricht wurde erfolgreich weitergeleitet.</p>
                    <p class="footnote">Deine Sadeta Kamber von <span class="logo-text">Fußliebe</span></p>
                </div>
            </div>
            <a href="index.html" class="button float-right">Zurück</a>
        </div>
    </div>
</section>